/* FONT IMPORT */
@font-face {
    font-family: "Roboto Thin";
    src: url(./assets/fonts/roboto_thin.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(./assets/fonts/roboto_regular.ttf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(./assets/fonts/roboto_black.ttf);
}

/* RESET CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* VARIABLES */
:root {
    --dark-color: rgb(2, 4, 8);
    --dark-hover: rgba(255, 255, 255, 0.1);

    --light-color: rgb(245, 245, 245);
    --light-hover: rgba(0, 0, 0, 0.1);

    --main-color: rgb(220, 20, 60);
    --subline-color: rgb(193, 31, 109);
}

/* GENERAL */
::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Roboto Regular", sans-serif;
    font-size: 1em;
    background-image: radial-gradient(circle, #dc143c, #d80d4a, #d20e57, #ca1662, #c11f6d);
}

body.light-mode {
    color: var(--dark-color);
}

body.dark-mode {
    color: var(--light-color);
}

a {
    text-decoration: none;
    color: var(--light-color);
}

h2 {
    margin-bottom: 25px;
    padding-left: 17.5px;
    display: flex;
    align-items: center;
    font-family: "Roboto Black", sans-serif;
    font-weight: 500;
}

/* MAIN */
#toggle-mode-btn {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--light-color);
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background-color 0.3s;
    cursor: pointer;
}

#toggle-mode-btn:hover {
    background-color: var(--dark-hover);
}

#portfolio-link {
    padding-right: 0.5rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-family: monospace, sans-serif;
    font-size: 0.75rem;
}

#github-link {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

/* RESPONSIVE WARNING */
#responsive-warning {
    width: 100%;
    height: 100%;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    z-index: 9999;
}

.warning-icons {
    font-size: 2rem;
    color: orange;
}

@media (max-width: 768px) {
    #responsive-warning.show {
        display: flex;
    }
}

/* SIMPLE REMINDER */
#simple-reminder-container {
    width: 540px;
    margin: 50px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 2.5px 8px rgba(0, 0, 0, 0.25);
}

#holberton-seahorse {
    height: 25px;
    margin-right: 12.5px;
}

#input-container {
    height: 50px;
    padding-left: 12.5px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

#input-container input {
    padding: 12.5px;
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

#input-container button {
    width: 50px;
    height: 50px;
    font-family: "Roboto Black", sans-serif;
    color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.25s ease;
}

#input-container button:hover {
    background-color: var(--subline-color);
}

#input-container button:active {
    transform: scale(0.75);
}

ul {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    border-bottom: 1px dashed black;
}

ul li {
    position: relative;
    height: 25px;
    padding-left: 50px;
    padding-right: 37.5px;
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: 25px;
    cursor: pointer;
}

ul li::before {
    position: absolute;
    top: 0;
    left: 12.5px;
    width: 25px;
    height: 25px;
    content: "";
    border: 2.5px solid var(--main-color);
    border-radius: 50%;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "\2713";
    color: white;
    border: none;
    background-color: var(--main-color);
}

ul li p {
    padding-right: 12.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li span {
    position: absolute;
    top: 0;
    right: 12.5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: 0.25s ease;
}

ul li span:hover {
    background-color: var(--subline-color);
}

ul li span:active {
    transform: scale(0.75);
}

/********** BEHAVIOR ELEMENTS **********/
.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Thin", sans-serif;
    color: white;
}